
.comment {
    border-radius: 4px;
    margin: 2px;
}

.comment-wrapper {
    position: relative;
    background-color: #FFFCFF;
    border-radius: 4px;
    padding: 8px;
    margin: 1px;
    overflow-wrap: break-word;
}

.comment-text {
    font-size: 14px;
}

.comment-replies {
    margin-left: 10%;
}

.comment-details {
    font-weight: 300;
    color: #ED6A5A;
}

.comment-actions {
    font-size: 14px;
    color: #0090C1;
    position: absolute;
    right: 8px;
    top: 8px;
}

.comment-actions:hover {
    cursor: pointer;
}

.comment-subtext {
    font-style: italic;
    font-weight: bold;
}