
.app-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.app-sidebar {
    position: relative;
    width: 40%;
}

.app-header {
    position: fixed;
    top: 4px;
    width: 40vw;
    height: 30px;
    text-align: center;
    z-index: 20;
}

.app-list {
    position: fixed;
    padding-left: 16px;
    padding-right: 8px;
    width: 40vw;
    left: 0;
    top: 35px;
    bottom: 8px;
    overflow: scroll;
    z-index: 10;
    background-color: #FFFFFF;
}

.app-content {
    padding: 16px 8px;
    margin-top: 35px;
    margin-left: 45vw;
    background-color: #f7f8f9;
    border-radius: 4px;
    width: 50%;
}

.app-content--zero {
    margin: auto auto;
}